* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
/* navbar */
.navbar {
    background: rgba(0,0,0);
}
.navbar i {
    color: white;
    font-size: 2rem;
}
.container {
    width: 85%;
    padding: 20px 0px;
    margin: 0 auto;
}
.navbar-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
img {
    width: 150px;
    height: auto;
}
.navbar-element a {
    color: white;
    
}
.navbar-element ul {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.navbar-element ul li {
    padding: 0px 30px;
}
.navbar-element ul :nth-child(3) {
    border-right: solid 1px white;
}
/* showcase */
.showcase {
    background-color: #2941AB;
    padding: 10em 4em;
}
.showcase-container {
    width: 75%;
    margin: 0 auto;
}
.group-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #1ED760;
    text-align: center;
}
h1 {
    margin: 0%;
    font-size: clamp(6em, 10vw, 10em);
    font-weight: bolder;
}
.group-text p {
    font-size: 1.125rem;
    width: 100%;
    letter-spacing: 1px;
}
.btn {
    font-size: 1rem;
    background-color:#1ED760;
    color: #2941AB;
    padding: 1em 2em;
    border-radius: 100px;
    border: none;
    margin-top: 2em;
}
.btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background: #39db72;
}
/* footer */
footer {
    background-color: black;
    color: #919496;
}
.footer-group {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}
.col {
    display: flex;
    justify-content: space-between;
    width: 65%;
}
.col li {
    margin-top: 25px;
}
.col a {
    color: white;
}
ul p{
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: 0.05rem;
}
#empresa {
    margin-left: 5rem;
}

.redes-sociais {
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
} 
.redes-sociais i {
    background: #222326;
    padding: 20px;
    height: 4rem;
    border-radius: 100px;
    margin: 0px 10px;
    font-size: 1.7rem;
    color: white;
}
.redes-sociais i:hover {
    color: #39db72;
}
.final {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    padding-top: 5.5rem;
}
.final a {
    color: #919496;
}
.secundary {
    width: 60%;
    max-width: 600px;
    display: flex;
}
.secundary a {
    margin-right: 2rem;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 10%;
}
.right i {
    display: inline-block;
    height: 20px;
    width: auto;
    margin-right: .3rem;
}
.right p {
    margin: 0;
}
.country {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
a:hover {
    color: #1ED760;
}

@media (max-width: 960px) {
    .navbar-element ul {
        display: none;
    }
}
@media (min-width: 960px) {
    .navbar i {
        display: none;
        color: white;
        position: absolute;
        align-self: center;
    }
}
@media (max-width: 1000px) {
    .footer-group {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
}
@media (max-width: 670px) {
    .footer-group .col {
        flex-direction: column;
        justify-content: space-between;
    }
}